<ion-header>
  <ion-toolbar color="danger">
    <ion-title>{{'circuits.title' |translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{'circuits.btn_Cerrar' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup] = "form" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{'circuits.name' |translate}}
      </ion-label>
      <ion-input type="text" placeholder="Nombre del Circuito" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{'circuits.localizacion'|translate}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce el País del circuito" formControlName="localizacion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{'circuits.foto'|translate}}
      </ion-label>
      <ion-input type="text" placeholder="Introduce un link de a una imagen" formControlName="picture"></ion-input>
    </ion-item>
    <ion-button color="medium" (click)="onSubmit()"  [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir" | translate}}</ion-button>
  </form>
</ion-content>
