.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.race-info {
  margin-top: 50px;
  text-align: center;
}

.race-info h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

.race-info h3 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.countdown {
  font-size: 1.2rem;
  margin-top: 20px;
}

.date {
  margin-top: 20px;
}

.location {
  margin-top: 10px;
}
