<ion-content>
  <div class="container">
    <ion-img src="./../../../../.."></ion-img>
    <div class="race-info">
      <h2>Próxima Carrera</h2>
      <h3>Gran Premio de España</h3>
      <p class="countdown">Faltan <span id="days">{{ days }}</span> días, <span id="hours">{{ hours }}</span> horas, <span id="minutes">{{ minutes }}</span> minutos y <span id="seconds">{{ seconds }}</span> segundos</p>

      <p class="date">19 de marzo, 2023</p>
      <p class="location">Circuito de Barcelona-Catalunya</p>
    </div>
  </div>
</ion-content>