<div class="container">
    <div class="race-info">
      <h2>{{"carrera.carreraN2" | translate}}</h2>
      <h3>{{"carrera.nombreGp1" | translate}}</h3>
      <p class="countdown">Faltan <span id="days">{{ days }}</span> {{"carrera.dias" | translate}}, <span id="hours">{{ hours }}</span> {{"carrera.horas" | translate}}, <span id="minutes">{{ minutes }}</span> {{"carrera.minutos" | translate}} y <span id="seconds">{{ seconds }}</span> {{"carrera.segundos" | translate}}</p>

      <p class="date">{{"carrera.date1" | translate}}</p>
      <p class="location">{{"carrera.location1" | translate}}</p>
    </div>


    <div class="container">
      <div class="race-info">
        <h2>{{"carrera.carreraN3" | translate}}</h2>
        <h3>{{"carrera.nombreGp2" | translate}}</h3>
        <p class="countdown">Faltan <span id="days">{{ days1 }} </span>{{"carrera.dias" | translate}}, <span id="hours">{{ hours1 }}</span> {{"carrera.horas" | translate}}, <span id="minutes">{{ minutes1 }}</span> {{"carrera.minutos" | translate}} y <span id="seconds">{{ seconds1 }}</span> {{"carrera.segundos" | translate}}</p>
  
        <p class="date">{{"carrera.date2" | translate}}</p>
        <p class="location">{{"carrera.location2" | translate}}</p>
      </div>
