<ion-header>
  <ion-toolbar>
    <ion-title>{{'management-detail.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item-divider>
      <ion-label>
      {{'management-detail.driver' | translate}}
      </ion-label>
    </ion-item-divider>
    <app-team-selectable formControlName="teamId"></app-team-selectable>
    <ion-item-divider>
      <ion-label>
        {{'management-detail.team' | translate}}
      </ion-label>
    </ion-item-divider>
    <app-driver-selectable formControlName="driverId"></app-driver-selectable>
  </form>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button  color="medium" [disabled]="!form.valid" (click)="onSubmit()">{{mode=="Edit"?('modal.edit' | translate):('modal.new' | translate)}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>